/* Styling for footer section*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #696969;
  height: 100%; /* makes sure the item streches to full viewpoint height */
}

/* Footer background */
footer {
  padding: 60px 10px 0;
  background: #5aa79e;
}

/* Main container */
.footer-container {
  max-width: 1200px;      /* limits the footer width for better readability */
  margin: 0 auto;         /* centers the footer horizontally */
  color: #2a3439;
  gap: 40px;
  display: flex;
  justify-content: space-between; /* pushes items to the edges */
  flex-wrap: wrap;                /* items wrapped on smaller screens */
  align-items: flex-start;         /* items aligned to the top */
  border-bottom: 1px solid #ec5b17;
}

/*Newsletter section */
.newsletter {
  font-weight: bold;
  flex: 1 1 300px;           /* allows flexibility in width with a minimum of 300px */
  margin-bottom: 10px;
}

.footer-subscribe {
  flex: 1 1 300px;
  flex-wrap: wrap;
  gap: 10px; /* space between button and input */
  margin-top: 20px; /* spacing below paragraph */
}

.footer-subscribe input {
  flex: 1; /* making the input attr take up the remaining space */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: #2a3439;
}

.btn {
  white-space: no-wrap; /* keeps button text in one line, prevents it from wrapping */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background: #ec5b17;
  color: white;
  cursor: pointer;
}

/* Links section */
.footer-links {
  display: flex;
  justify-content: space-around; /* distributes space evenly between items/columns */
  flex: 1 1 300px;
  gap: 60px;
  margin-bottom: 20px;
  font-size: 15px;
}

.footer-quick-links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-technology {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-top: 12px;
  margin-bottom: 12px;
}

img {
  max-width: 150px; /* restricting imaage size */
  height: 150px; /* fixed sizing */
}

/*logo section */
footer .container {
  max-width: 1200px;
  margin: 0 auto; /* centered with no margin */
  padding: 0;
  display: flex;
  align-items: center;
  border-bottom: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-subscribe input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px; /* spacing is reduced */
    width: 100%;
  }
}